@model IEnumerable<DATN_WebDatPhongKhachSan.Models.RoomType>

@{
    ViewData["Title"] = "Danh mục loại phòng";
    Layout = "~/Views/Shared/_layout_admin.cshtml";
}

<h1>Danh sách các loại phòng cho thuê</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Loại phòng
            </th>
            <th>
                Thông tin chi tiết
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                Chỉnh sửa lần cuối
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.CreatedOn)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.ModifiedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomTypeID"> <i class="fas fa-edit">  ||    </i></a>
                <a asp-action="Details" asp-route-id="@item.RoomTypeID"><i class="fas fa-tasks"> ||    </i></a>
                <a asp-action="Delete" asp-route-id="@item.RoomTypeID"><i class="fas fa-window-close">    </i></a>
            </td>
        </tr>
}
    </tbody>
</table>
