@model IEnumerable<DATN_WebDatPhongKhachSan.Models.RentalType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout_admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RentalTypeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RentalTypeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RentalTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
