@model IEnumerable<DATN_WebDatPhongKhachSan.Models.Customer>

@{
    ViewData["Title"] = "Danh mục thông tin khách thuê";
    Layout = "~/Views/Shared/_layout_admin.cshtml";
}

<h1>Danh mục thông tin khách hàng thuê</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tài khoản
            </th>
            <th>
                Họ và tên
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                Chỉnh sửa lần cuối
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Phone)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.DoB)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.CreatedOn)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.ModifiedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerID"> <i class="fas fa-edit">  ||    </i></a>
                <a asp-action="Details" asp-route-id="@item.CustomerID"><i class="fas fa-tasks"> ||    </i></a>
                <a asp-action="Delete" asp-route-id="@item.CustomerID"><i class="fas fa-window-close">    </i></a>
            </td>
        </tr>
}
    </tbody>
</table>
