@model DATN_WebDatPhongKhachSan.Models.User

@{
    ViewData["Title"] ="Thông tin tài khoản";
    Layout = "~/Views/Shared/_layout_admin.cshtml";
}



<div>
    <h4> @Html.DisplayFor(model => model.FullName)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            Họ và tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            Loại tài khoản
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsAdmin == true)
            {
                <h6>Quản trị viên</h6>
            }
            else
            {<h6>Người dùng</h6>}
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsActive == true)
            {
                <h6>Còn sử dụng</h6>
            }
            else
            {<h6>Tạm khoá</h6>}
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:dd/MM/yyyy}", Model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            Chỉnh sửa lần cuối
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:dd/MM/yyyy}", Model.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserID">Chỉnh sửa thông tin</a> |
    <a asp-action="Index">Quay lại</a>
</div>
