@model IEnumerable<DATN_WebDatPhongKhachSan.Models.User>

@{
    ViewData["Title"] = "Danh mục tài khoản";
    Layout = "~/Views/Shared/_layout_admin.cshtml";
}

<h1>Danh mục tài khoản</h1>
<p>
    <a asp-action="Create">Thêm tài khoản mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                Họ và tên
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                Loại tài khoản
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                Chỉnh sửa lần cuối
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @if (item.IsAdmin == true)
                {
                    <h6>Quản trị viên</h6>
                }
                else
                {<h6>Người dùng</h6>}
            </td>
            <td>
                @if (item.IsActive == true)
                {
                    <img width="30" height="30" src="~/assets/icon/checked.png" alt="Alternate Text" />
                }
                else
                {
                    <img width="30" height="30" src="~/assets/icon/cross.png" alt="Alternate Text" />
                }
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.CreatedOn)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.ModifiedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserID"> <i class="fas fa-edit">  ||    </i></a>
                <a asp-action="Details" asp-route-id="@item.UserID"><i class="fas fa-tasks"> ||    </i></a>
                <a asp-action="Delete" asp-route-id="@item.UserID"><i class="fas fa-window-close">    </i></a>
            </td>
        </tr>
}
    </tbody>
</table>
