@model IEnumerable<DATN_WebDatPhongKhachSan.Models.Room>

@{
    ViewData["Title"] = "Danh mục phòng cho thuê";
    Layout = "~/Views/Shared/_layout_admin.cshtml";
}

<h1>Danh mục phòng cho thuê</h1>

<p>
    <a asp-action="Create">Thêm phòng mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tài khoản chủ
            </th>
            <th>
                Mã phòng
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountRoom)
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Loại phòng
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                Chỉnh sửa lần cuối
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCode)
            </td>
            <td>
                @item.Price.ToString(("#,##0. VNĐ"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountRoom)
            </td>
            <td>
                @if (item.IsActive == true)
                {
                    <img width="30" height="30" src="~/assets/icon/checked.png" alt="Alternate Text" />
                }
                else
                {
                    <img width="30" height="30" src="~/assets/icon/cross.png" alt="Alternate Text" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.RoomTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.CreatedOn)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.ModifiedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomID"> <i class="fas fa-edit">  ||    </i></a>
                <a asp-action="Details" asp-route-id="@item.RoomID"><i class="fas fa-tasks"> ||    </i></a>
                <a asp-action="Delete" asp-route-id="@item.RoomID"><i class="fas fa-window-close">    </i></a>
            </td>
        </tr>
}
    </tbody>
</table>
